@model online_education_site.Models.StudentLessonsModel

<h1><b>Your Favourite Lessons</b></h1>

@using (@Html.BeginForm("Add_Student_Lesson", "Lessons"))
{
    <select name="id">
        @foreach (var lesson in Model.AvailableLessons)
        {
            <option value="@lesson.LessonId">
                @lesson.LessonClassId-@lesson.LessonName
            </option>
        }
    </select>

    <button class="btn btn-primary">Add Course</button>
}

<ul>
    @foreach (var lesson in Model.CurrentLessons)
    {
        <li>
            <a href="@Url.Action("Lesson", "Lessons",new {id = lesson.LessonId})">
                @lesson.LessonClassId @lesson.LessonName
            </a>
        </li>
    }
</ul>