@model online_education_site.Models.StudentLessonsModel


@using (@Html.BeginForm("Add_Student_Lesson", "Lessons"))
{
    <select name="id">
        @foreach (var lesson in Model.AvailableLessons)
        {
            <option value="@lesson.LessonId">
                @lesson.LessonClassId-@lesson.LessonName
            </option>
        }
    </select>

    <button class="btn btn-primary">Add Course</button>
}

<div class="row">
    <div class="col-2 mx-2">
        <h3 class="fw-bold mb-2">Favourite Lessons</h3>
        <ul class="list-group">
            @foreach (var lesson in Model.CurrentLessons)
            {
                <li class="list-group-item">
                    <a href="@Url.Action("Lesson", "Lessons",new {id = lesson.LessonId})">
                        @lesson.LessonClassId @lesson.LessonName
                    </a>
                </li>
            }
        </ul>
    </div>
</div>