@model online_education_site.Models.TeacherUpdateModel

<h1><b>Instructor's Account Update Page</b></h1>

@using (@Html.BeginForm("Teacher_Update", "AfterLogin_Teacher", FormMethod.Post, new { @id = "update-form" }))
{
    @*
        <label for="email">Old E-mail</label>
        <input id="email" name="user_Email" />
    *@

    @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })
    <br />

    @*
        <label for="email">New E-mail</label>
        <input id="email" name="new_user_Email" />
    *@

    @Html.LabelFor(m => m.new_user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.new_user_Email, new { @class = "form-control", id = "input-email" })
    <br />
    @*
        <label for="sifre">Old Şifre</label>
        <input id="sifre" name="user_Password" />
    *@

    @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })
    <br />
    @*
        <label for="sifre">New Şifre</label>
        <input id="sifre" name="new_user_Password" />
    *@

    @Html.LabelFor(m => m.new_user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.new_user_Password, new { @class = "form-control", id = "input-password" })
    <br />

    @*
        <label for="branch">New Branch</label>
        <input id="branch" name="new_user_BranchID" />
    *@

    @*
        @Html.LabelFor(m => m.new_user_BranchID, new { @class = "form-control-label", @for = "input-email" })
        @Html.TextBoxFor(m => m.new_user_BranchID, new { @class = "form-control", id = "input-email" })
    *@

    <label for="branch">Branch</label>
    <select class="form-select" id="branch" name="new_user_BranchID">

        @foreach (var branch in Model.Branches) //(var branch in Model.Branches)
        {
            <option value="@branch.BranchId">

                @branch.BranchName

            </option>
        }

    </select>
    <br />

    <button class="btn btn-outline-success" type="submit">
        Update

        <div id="spinner" class="spinner-grow text-success d-none " role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </button>
}

<script>
    $("#update-form").submit(function () {
        $('#spinner').removeClass('d-none');
    })
</script>
