@model online_education_site.Models.StudentRegisterModel

<h1><b>Student Register Page</b></h1>

@using (@Html.BeginForm("Student_REGISTER", "Home"))
{
    @Html.ValidationSummary(false, "", new { style = "color: red" })

    @*
        <label for="email">E-mail</label>
        <input id="email" name="user_Email" />
    *@

    @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })
    <br />

    @*
        <label for="sifre">Şifre</label>
        <input id="sifre" name="user_Password" />
    *@

    @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })
    <br />

    @*
        <label for="name">Name</label>
        <input id="name" name="student_Name" />
    *@

    @Html.LabelFor(m => m.student_Name, new { @class = "form-control-label", @for = "input-name" })
    @Html.TextBoxFor(m => m.student_Name, new { @class = "form-control", id = "input-name" })
    <br />

    @*
        <label for="surname">Surname</label>
        <input id="surname" name="student_Surname" />
    *@

    @Html.LabelFor(m => m.student_Surname, new { @class = "form-control-label", @for = "input-name" })
    @Html.TextBoxFor(m => m.student_Surname, new { @class = "form-control", id = "input-name" })
    <br />

    @*
        <label for="cnumber">Class Number</label>
        <input id="cnumber" name="student_ClassID" />
    *@

    @Html.LabelFor(m => m.student_ClassID, new { @class = "form-control-label", @for = "input-name" })
    @Html.TextBoxFor(m => m.student_ClassID, new { @class = "form-control", id = "input-name" })
    <br />


    @*<label for="cnumber">Student Class</label>
        <select class="form-select" id="cnumber" name="AvailableLessons">

            @foreach (var cnumber in Model.cnumbers) //(var branch in Model.Branches)
            {
                <option value="@cnumber.ClassId">

                    @cnumber.ClassNumber

                </option>
            }
        </select>
        <br />
    *@
    <button class="btn btn-primary" type="submit">Register</button>
}