@model online_education_site.Models.LoginModel

<h1><b>Instructor Login Page</b></h1>

@using (@Html.BeginForm("Teacher_LOGIN", "Home"))
{
    @Html.ValidationSummary(false, "", new { style = "color: red" })

    @*
        @<label for="email">E-mail</label>
        <input id="email" name="user_Email" />
        <br />
    *@

    @*
        @<label for="sifre">Şifre</label>
        <input id="sifre" name="user_Password" />
        <br />
    *@

    @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })

    <br />

    @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })

    <br />

    <button class="btn btn-primary" type="submit">Login</button>
}

