@model online_education_site.Models.TeacherRegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <title>Student Register | Online Education Platform</title>

    <link rel="icon" href="/images/newonlylogo.png">
    <link rel="stylesheet" href="/css/user-min.css">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>

    <div class="main-content">

        <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">

            <!-- SVG background -->
            <div class="bg-absolute-cover bg-size--contain">
                <img alt="" src="/images/undraw_account_re_o7id.svg" class="bg-image">
            </div>

            <div class="container py-5 px-md-0 d-flex align-items-center">

                <div class="w-100">

                    <div class="row row-grid justify-content-center justify-content-lg-between align-items-center">

                        <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">

                            <div class="card shadow zindex-100 mb-0">

                                <img alt="" src="/images/newsitelogo.png" class="portal-logo mx-auto">

                                <div class="card-body px-md-5 py-5">

                                    <div class="mb-5">
                                        <h6 class="h3">Create Instructor Account</h6>
                                        <p class=" mb-0">Use Online Education Platform</p>
                                    </div>

                                    <span class="clearfix"></span>

                                    @using (@Html.BeginForm("Teacher_REGISTER", "Home", FormMethod.Post, new { @id = "register-form" }))
                                    {
                                        @Html.ValidationSummary(false, "", new { style = "color: white" })

                                        <div class="form-group">

                                            @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })

                                            <div class="input-group input-group-merge">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>

                                                @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            @Html.LabelFor(m => m.teacher_Name, new { @class = "form-control-label", @for = "input-name" })

                                            <div class="input-group input-group-merge">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>

                                                @Html.TextBoxFor(m => m.teacher_Name, new { @class = "form-control", id = "input-name" })

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            @Html.LabelFor(m => m.teacher_Surname, new { @class = "form-control-label", @for = "input-name" })

                                            <div class="input-group input-group-merge">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>

                                                @Html.TextBoxFor(m => m.teacher_Surname, new { @class = "form-control", id = "input-name" })

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })

                                            <div class="input-group input-group-merge">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                                </div>

                                                @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })

                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label for="branch">Branch</label>
                                            <select class="form-select" id="branch" name="teacher_BranchID">

                                                @foreach (var branch in Model.Branches) //(var branch in Model.Branches)
                                                {
                                                    <option value="@branch.BranchId">

                                                        @branch.BranchName

                                                    </option>
                                                }

                                            </select>

                                        </div>

                                        <div class="form-group">
                                            <div class="g-recaptcha" data-sitekey="6LdiJN0cAAAAAChGPYY6aNqpNePaI4iccsf6ydbJ"></div>
                                        </div>

                                        <div class="mt-4">

                                            <button type="submit" class="btn btn-sm btn-primary btn-icon rounded-pill">
                                                <span class="btn-inner--text">Create Account</span>

                                                <div id="spinner" class="spinner-grow text-success d-none " role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>

                                            </button>

                                        </div>

                                    }

                                </div>

                                <div class="card-footer d-flex px-md-5 ">

                                    <div>
                                        Already Have Account?
                                        <a href="@Url.Action("Teacher_LOGIN", "Home")" class=" font-weight-bold">Instructor Login</a>
                                    </div>

                                    <div class="ml-auto">
                                        <a target="" href="@Url.Action("Index", "Home")">
                                            <img alt="" src="/images/newonlylogo.png" height="50" width="50">
                                        </a>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6 order-lg-1 zindex-100 d-none d-lg-block">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<script>
    $("#register-form").submit(function () {
        $('#spinner').removeClass('d-none');
    })
</script>