@model online_education_site.Models.StudentUpdateModel

<h1><b>Student's Account Update Page</b></h1>

@using (@Html.BeginForm("Student_Update", "AfterLogin_Student", FormMethod.Post, new { @id = "update-form" }))
{
    @Html.ValidationSummary(false, "", new { style = "color: red" })

    @*
        <label for="email">Old E-mail</label>
        <input id="email" name="user_Email" />
    *@

    @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })
    <br />

    @*
        <label for="email">New E-mail</label>
        <input id="email" name="new_user_Email" />
    *@

    @Html.LabelFor(m => m.new_user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.new_user_Email, new { @class = "form-control", id = "input-email" })
    <br />

    @*
        <label for="sifre">Old Şifre</label>
        <input id="sifre" name="user_Password" />
    *@

    @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })
    <br />

    @*
        <label for="sifre">New Şifre</label>
        <input id="sifre" name="new_user_Password" />
    *@

    @Html.LabelFor(m => m.new_user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.new_user_Password, new { @class = "form-control", id = "input-password" })
    <br />

    @*
        <label for="cnumber">Class Number</label>
        <input id="cnumber" name="student_ClassID" />
    *@

    @*
        @Html.LabelFor(m => m.student_ClassID, new { @class = "form-control-label", @for = "input-email" })
        @Html.TextBoxFor(m => m.student_ClassID, new { @class = "form-control", id = "input-email" })
    *@

    <label for="cnumber">Student's Class</label>

    <select class="form-select" id="cnumber" name="student_ClassID">

        @foreach (var cnumber in Model.Classes)
        {
            <option value="@cnumber.ClassId">

                @cnumber.ClassNumber

            </option>
        }

    </select>
    <br />

    <button class="btn btn-outline-success" type="submit">
    Update

        <div id="spinner" class="spinner-grow text-success d-none " role="status">
            <span class="visually-hidden">Loading...</span>
        </div>    
    
    </button>
}

<script>
    $("#update-form").submit(function () {
        $('#spinner').removeClass('d-none');
    })
</script>