@model online_education_site.Models.StudentDeleteModel

<h1 style="background-color:dodgerblue"><b>Student's Account Delete Page</b></h1>

@using (@Html.BeginForm("Student_Delete", "AfterLogin_Student", FormMethod.Post, new { @id = "delete-form" }))
{

    @Html.ValidationSummary(false, "", new { style = "color: red" })

    @*
        <label for="email">E-mail</label>
        <input id="email" name="user_Email" />
    *@

    @Html.LabelFor(m => m.user_Email, new { @class = "form-control-label", @for = "input-email" })
    @Html.TextBoxFor(m => m.user_Email, new { @class = "form-control", id = "input-email" })
    <br />

    @*
        <label for="sifre">Şifre</label>
        <input id="sifre" name="user_Password" />
    *@

    @Html.LabelFor(m => m.user_Password, new { @class = "form-control-label", @for = "input-password" })
    @Html.PasswordFor(m => m.user_Password, new { @class = "form-control", id = "input-password" })
    <br />

    <button class="btn btn-outline-danger" type="submit">
        Delete

        <div id="spinner" class="spinner-grow text-success d-none " role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </button>
}

<script>
    $("#delete-form").submit(function () {
        $('#spinner').removeClass('d-none');
    })
</script>
